@font-face {
  font-family: "Heebo";
  font-display: swap;
  src: url("/fonts/Heebo/Heebo-VariableFont_wght.ttf")
}
/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-gray-700;
}

h2 {
  @apply text-gray-700;
}

h3 {
  @apply text-gray-700;
}

h4 {
  @apply text-gray-700;
}

/* a {
  @apply underline text-gray-400 hover:text-black;
} */